<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>APMC</title>
    
        <style type="text/css">

            .date-container .date-text {
            position: absolute;
            top: 6px;
            left: 12px;
            }
            .date-container .date-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            right: 30px;
            /* pointer-events: none; */
            cursor: pointer;
            color: #aaa;
            }
        </style>
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="container-fluid">
            <div class="container-fluid">
                <form action="/add_sales/" method="POST" class="col-12 mt-5 mx-auto text-center">
                    {% csrf_token %}
                    <h5 class="mb-3 mb-lg-5">Add sales information</h5>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3 mt-4 mt-lg-0">
                            <div class="date-container">
                                <input id="date" type="text" name="date" placeholder="Select date" class="form-control" required />
                                <i class="date-icon fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-4 mt-lg-0">
                            <select class="form-select" aria-label="Default select example" name="seller_name" required >
                                <option value="">Select seller</option>
                                {% for seller in all_sellers %}
                                    <option value="{{seller.full_name}}-{{seller.seller_id}}">{{seller.full_name}} - {{seller.seller_id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-4 mt-lg-0">
                            <select class="form-select" aria-label="Default select example" name="weighmen_name" required >
                                <option value="">Select weighmen</option>
                                {% for weighman in all_weighmen %}
                                    <option value={{weighman.full_name}}>{{weighman.full_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 mt-4 mt-lg-0">
                            <div class="form-outline">
                                <input type="number" id="typeNumber" class="form-control" name="num_bags" required />
                                <label class="form-label" for="typeNumber">Number of bags</label>
                            </div>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-primary btn-lg mt-5 mx-auto">Add sale</button>
                </form>
                <script>
                    $(function() {
                        $('#date').datepicker({
                            dateFormat: 'dd-mm-yy',
                            minDate: 1
                        });
                        
                        $('.date-icon').on('click', function() {
                            $('#date').focus();
                        })
                    });
                    document.querySelectorAll('.form-outline').forEach((formOutline) => {
                        new mdb.Input(formOutline).init();
                    });
                </script>
            </div>
            
            
        </div>
    </body>
</html>